<div class="mr-8">
  <%= side_nav do |nav| %>
    <% nav.link "Contact", contact_details_pl_edit_person_path(@person), "book-open" %>
    <% nav.link "Check-ins", check_ins_pl_edit_person_path(@person), "person-check" %>
  <% end %>
</div>
