<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl ">
  <section aria-labelledby="timeline-title">
    <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
      <%= events_timeline(@events) %>
    </div>
  </section>
</div>
