<% content_for :page_head do %>
  <%= render partial: "pl/people/show_page_head" %>
<% end %>
<dl class="">
  <% @fields.each do |field| %>
    <div class="mb-6">
      <dt class="text-sm text-gray-400">
        <%= field.humanize %>
      </dt>
      <dd class="mt-1 text-base text-gray-800">
        <% if @callee.send(field).present? %><%= @callee.send(field) %><% else %><span class="text-gray-500 text-sm italic">No information</span><% end %>
      </dd>
    </div>
  <% end %>
</dl>
