<footer class="h-auto mt-6 bg-white">
  <div class="mt-6 max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:px-8 flex flex-col items-center">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to "https://oxfordhub.org", target: "_blank", class: "text-sm font-medium text-gray-500 hover:text-gray-700" do %>
          Oxford Hub
        <% end %>
      </div>
      <div class="px-5 py-2">
        <%= link_to "https://blog.oxfordhub.org/", target: "_blank", class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" do %>
          Blog
        <% end %>
      </div>
      <div class="px-5 py-2">
        <%= mail_to "support@oxfordcodelab.com", target: "_blank", class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" do %>
          Support
        <% end %>
      </div>
    </nav>
    <div class="mt-3 text-sm text-gray-400">
      Created by Oxford Code Lab Ltd
    </div>
  </div>
  <div class="mt-5">
    <img class="object-none	lg:object-cover max-h-12 w-full" src="/footer-big.jpg" alt="footer">
  </div>
</footer>
