<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Pods", a_pods_path %>
    <% list.link "Pod #{@match.pod.name}", a_pod_path(@match.pod) %>
    <% list.link "#{@match.caller.name} - #{@match.callee.name}", a_match_path(@match) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(MatchHeadComponent.new(match: @match)) %>
<% end %>
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl ">
  <%= reports_list(reports: @match.reports) %>
</div>
