<h1 class="text-2xl font-semibold text-gray-900">
  Pod: <%= @pod.name %>
</h1>
<div class="flex flex-wrap">
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-base text-gray-900">
    <div class="mr-1.5 text-gray-600">Pod leader: </div>
    <% if @pod.pod_leader.present? %>
      <%= link_to @pod.pod_leader.name, person_path(@pod.pod_leader.person) %>
    <% else %>
      <span class="text-sm italic">No-one assigned</span>
    <% end %>
  </div>
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-base text-gray-900">
    <div class="mr-1.5 text-gray-600">Theme: </div>
    <% if @pod.theme.present? %>
      <%= @pod.theme %>
    <% else %>
      <span class="italic">unknown</span>
    <% end %>
  </div>
</div>
<%= nav_tabs do |nav| %>
  <% nav.link "Matches", matches_pod_path(@pod) %>
  <% nav.link "Callers", callers_pod_path(@pod) %>
  <% if false %>
    <% nav.link "Callees", callees_pod_path(@pod) %>
  <% end %>
  <% nav.link "Edit", edit_pod_path(@pod) %>
<% end %>
