<h1 class="text-2xl font-semibold text-gray-900">
  My Reports
</h1>
<%= nav_tabs do |nav| %>
  <% nav.link "Reports (#{ @reports.count })", c_reports_path %>
  <% nav.link "New", new_c_report_path %>
<% end %>
