<% case safeguarding.status %>
<% when :unread %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 bg-red-200">
  <%= safeguarding.humanized_status&.downcase %>
</span>
<% when :in_progress %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 bg-blue-200">
  <%= safeguarding.humanized_status&.downcase %>
</span>
<% when :archived %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 bg-green-200">
  <%= safeguarding.humanized_status&.downcase %>
</span>
<% else %>
  <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 bg-gray-200">
  <%= safeguarding.humanized_status&.downcase %>
  </span>
<% end %>
