<style>
  .tooltip {
    position: relative;
  }

  .tooltip .tooltiptext {
    visibility: hidden;

    /* Position the tooltip */
    position: absolute;
    z-index: 50;
    bottom: 100%;
    left: 50%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>

<div class='tooltip'>
  <span class='w-64 -ml-32 mb-2 tooltiptext text-sm bg-indigo-100 rounded-md text-gray-600 px-3 py-2 shadow-lg'>
    <%= content %>
  </span>
  <%= target %>
</div>
