<h1 class="text-2xl font-semibold text-gray-900">
  Waiting List
</h1>
<%= nav_tabs do |nav| %>
  <% nav.link "Callers (#{@waiting_callers_count})", a_waitlist_callers_path %>
  <% nav.link "Callees (#{@waiting_callees_count})", a_waitlist_callees_path %>
  <% nav.link "Provisional Matches (#{@provisional_matches_count})", a_waitlist_provisional_matches_path %>
<% end %>
