<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Reports", c_reports_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render ReportsHeadComponent.new(@reports) %>
<% end %>
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl ">
  <%= reports_list(reports: @reports) %>
</div>
