<% content_for :breadcrumbs do %>
  <%= breadcrumbs home_path: c_path(@current_caller) do |list| %>
    <% list.link @report.match.callee.name, c_match_path(@current_caller, @report.match) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "c/matches/show_head_page" %>
<% end %>
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl">
  <%= render 'form', report: @report %>
</div>
