<% content_for :full_page do %>
  <div class="bg-white shadow">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
      <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
        <div class="flex-1 min-w-0">
          <!-- Profile -->
          <div class="flex items-center">
            <div class="sm:flex flex-1 sm:justify-between sm:items-center">
              <div class="flex items-center">
                <%= icon("person-circle", class: "h-8 w-8 rounded-full sm:block text-gray-600") %>
                <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                  Hi <%= @current_pod_leader&.name || "Unknown User" %>
                </h1>
              </div>
              <% if @has_pod %>
                <h2 class="mt-4 text-xl font-bold text-gray-500 sm:mr-1 sm:mt-0">
                  Pod <%= @current_pod_leader&.pod&.name || "?" %>
                </h2>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@has_pod %>
    <div class="mt-8">
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center">
          <div class="p-4 rounded shadow-md bg-white text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
              You aren't an active pod leader.
            </h3>
            <div class="mt-3">
              <p class="text-sm text-gray-500">
                This is the pod leader's area but you aren't currently leading a pod.
              </p>
              <p class="mt-1 text-sm text-gray-500">
                Contact <%= mail_to "support@oxfordcodelab.com" %> for help.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
