<div class="mr-8">
  <%= side_nav do |nav| %>
    <% if @person.caller %>
      <% nav.link "Contact", edit_pl_person_path(@person, :contact_details), "book-open" %>
      <% nav.link "Check-ins", edit_pl_person_path(@person, :check_ins), "person-check" %>
      <% nav.link "Social", edit_pl_person_path(@person, :social), "people-fill" %>
      <% nav.link "Capacity", edit_pl_person_path(@person, :capacity), "arrows-full-screen" %>
    <% end %>
    <% if @person.callee %>
      <% nav.link "Summary", edit_pl_person_path(@person, :summary), "check-circle" %>
      <% nav.link "Referral details", edit_pl_person_path(@person, :referral_details), "heroicon-document-text-small" %>
      <% nav.link "Emergency contacts", edit_pl_person_path(@person, :emergency_contacts), "people-fill" %>
    <% end %>
  <% end %>
</div>
