<% content_for :full_page do %>
  <div class="bg-white shadow">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
      <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
        <div class="flex-1 min-w-0">
          <!-- Profile -->
          <div class="flex items-center">
            <div>
              <div class="flex items-center">
                <%= icon("person-circle", class: "h-8 w-8 rounded-full sm:block text-gray-600") %>
                <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                  Hi <%= @current_user&.name || "Unknown User" %>
                </h1>
                <div>
                  Callers homepage
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8">
  <!-- Quick links - TO DO: improve responsive behavior -->
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-gray-800 text-xs font-medium uppercase tracking-wide">Quick links</h2>
      <ul class="flex flex-wrap mt-3">
        <li class="relative col-span-1 flex shadow-sm rounded-md mr-3 py-2">
          <%= button_link_to "New Reports", "#{new_c_report_path}?role=caller&redirect_on_cancel=#{c_path}" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
