<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Support", c_support_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <h1 class="text-2xl font-semibold text-gray-900">
    Support
  </h1>
<% end %>
<div class="flex flex-col">
  <div class="flex flex-col items-center">
    <div class="p-1 font-semibold	text-lg text-gray-900">Need some help or have a request?</div>
    <div class="p-1 text-gray-900">Please get in touch via <%= mail_to "support@oxfordcodelab.com" %></div>
  </div>
</div>
