<% content_for :breadcrumb do %>
  <% breadcrumb_array_of_hashes = [
    { name: "Support", path_breadcrumb: c_support_path },
    ] %>
  <% breadcrumb_array_of_hashes.each do | hash | %>
    <li>
      <div class="flex items-center">
        <!-- Heroicon name: chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <%= link_to hash[:name], hash[:path_breadcrumb], class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
      </div>
    </li>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <h1 class="text-2xl font-semibold text-gray-900">
    Support
  </h1>
<% end %>
<div class="flex flex-col mb-56">
  <div class="flex flex-col items-center">
    <div class="p-1 font-semibold	text-lg text-gray-900">Need some help or have a request?</div>
    <div class="p-1 text-gray-900">Please get in touch via <%= mail_to "support@oxfordcodelab.com" %></div>
  </div>
</div>
