<% content_for :breadcrumbs do %>
  <%= breadcrumbs home_path: pl_pod_path(@match.pod) do |list| %>
    <% list.link "Matches", pl_matches_path(@match.pod) %>
    <% list.link "#{@match.caller.name} & #{@match.callee.name}", pl_match_path(@match) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<div class="grid grid-cols-4">
  <div>
    <%= render partial: "pl/matches/menu" %>
  </div>
  <div class="col-span-3 col-start-2">
    <%= render partial: "pl/matches/edit/#{params[:page]}" %>
  </div>
</div>
