<div class="mb-8 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Person Search
    </h2>
  </div>
</div>
<div id="search-container" data-controller='search' data-reflex-root='#search-results'>
  <%= render SearchComponent.new(status: @status, results: @results) %>
</div>
