  
<div class="mb-8 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Support
    </h2>
  </div>
</div>
<div class="flex flex-col">
  <div class="flex flex-col items-center">
    <div class="p-1 font-semibold	text-lg text-gray-900">Need some help or have a request?</div>
    <div class="p-1 text-gray-900">Please get in touch via <%= mail_to "support@oxfordcodelab.com" %></div>
  </div>
</div>
