<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", "/search" %>
    <% list.link "New Pod Leader", "#" %> <!-- TO DO -->
  <% end %>
<% end %>
<% content_for :page_head do %>
  <h1 class="text-2xl font-semibold text-gray-900">
    New Pod Leader
  </h1>
<% end %>
<%= render 'form', pod_leader: @pod_leader %>
