Hi <%= @person.name %>
You've been invited to Oxford Hub's Phone Links platform! The platform can be found at this URL: phonelinks.oxfordhub.org
To signup, please follow <a href="<%= @signup_link %>">this link</a>, then click "Enter", and "Sign up".
If you have any questions, please email phone-link@oxfordhub.org for help.
From, Oxford Hub
