<% content_for :page_head do %>
  <h1 class="text-2xl font-semibold text-gray-900">
    New Match
  </h1>
<% end %>
<ul class="mt-4">
  <div class="mb-2 text-base font-medium text-gray-700">Select a pod for the new match</div>
  <div class="ml-1 mb-1 text-sm text-gray-500">- Only pods with callees on the waiting list are shown below.</div>
  <div class="ml-1 mb-4 text-sm text-gray-500">- Matches can only be created between callers and callees that have already been assigned to a pod.</div>
  <% @pods.each do |pod| %>
    <li class="my-2 bg-white shadow sm:rounded-md sm:w-1/2 text-gray-500">
      <%= link_to "/pods/#{pod.id}/match/new?redirect_on_cancel=#{@redirect_on_cancel}", class: "block hover:bg-gray-50" do %>
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-center">
            <p class="flex items-center text-sm">
              Pod: <%= pod.name %>
              <% if pod.pod_leader %>
                (<%= pod.pod_leader.name %>)
              <% else %>
                (
                <div class="text-sm italic">No pod leader</div>
                )
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
  <li class="mt-10 sm:w-1/2 text-right"><%= button_link_to "Cancel", @redirect_on_cancel %></li>
</ul>
