<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new safeguarding concern has been submitted on the Phone Links Platform.
    </p>
    <p>
      View the concern <a href="<%= a_safeguarding_concern_path(@safeguarding) %>">here</a>
    </p>
  </body>
</html>
