<div class="mr-8">
  <%= side_nav do |nav| %>
    <% nav.link "Personal", personal_details_a_edit_person_path(@person), "user" %>
    <% nav.link "Contact", contact_details_a_edit_person_path(@person), "book-open" %>
    <% nav.link "Flag", flag_a_edit_person_path(@person), "lightning-bolt" %>
    <% if @person.callee.present? %>
      <% nav.link "Referral details", referral_details_a_edit_person_path(@person), "heroicon-document-text-small" %>
    <% end %>
    <% if @person.caller.present? %>
      <% nav.link "Experience", experience_a_edit_person_path(@person), "heroicon-document-text-small" %>
    <% end %>
  <% end %>
</div>
